<footer class="border-top footer text-muted text-center py-3">
    <div class="container">
        &copy; 2026 - <span class="fw-bold text-primary">OceanShellCraft</span> - Mỹ Nghệ Vỏ Ốc
    </div>
</footer>