<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - OceanShellCraft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="TrangChu" asp-action="Index">OceanShellCraft</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="TrangChu" asp-action="Index">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="SanPham" asp-action="DanhSach">Sản Phẩm</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted text-center">
        <div class="container"> &copy; 2026 - OceanShellCraft - Mỹ Nghệ Vỏ Ốc </div>
    </footer>
</body>
</html>