@{
    Layout = null;
}
@model IEnumerable<OceanShellCraft.Models.DanhMuc>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark px-3" href="#" id="danhMucDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Danh Mục Của Shop
    </a>
    <ul class="dropdown-menu" aria-labelledby="danhMucDropdown">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <li>
                    <a class="dropdown-item" asp-controller="SanPham" asp-action="DanhSach" asp-route-maDanhMuc="@item.Id">
                        @item.TenDanhMuc
                    </a>
                </li>
            }
        }
        else
        {
            <li><span class="dropdown-item text-muted">Chưa có danh mục</span></li>
        }
    </ul>
</li>